.carousel-inner{
    margin-top: 60px;
    margin-bottom: 60px;
}

.infoPicnic{
    background-color: rgb(252, 158, 230);
    padding-top: 75px;
    padding-bottom: 75px;
}

.imgArtistas{
    height: 100%;
    width: 30vw;
}

.textOtrosArtistas{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imgCantantes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10%;
    text-align: center;
}

.imagenC{
    max-width: 100%;
    height: auto;
}

.textImg{
    margin-top: 30%;
    text-align: justify;
}

.contenedorImg{
    margin-bottom: 50px;
}


@media (min-width: 1700px){
    .textImg{
        margin-top: 35%;
    }
}

@media (max-width: 1700px){
    .textImg{
        margin-top: 15%;
    }
}

@media (max-width: 1700px){
    .textImg{
        margin-top: 28%;
    }

    .imgArtistas{
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 1399px){
    .imgCantantes{
        gap: 40px;
    }

}

@media (max-width: 992px){
    .textImg{
        margin-top: 25%;
    }

    .imgArtistas{
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 770px){
    .textImg{
        margin-top: 15%;
    }

    .imgArtistas{
        height: 100%;
        width: 100%;
    }

    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    th:first-child, td:first-child {
        border-top: 1px solid #ddd;
    }
    
}

@media (max-width: 576px){
    .imgArtistas{
        height: 100%;
        width: 100%;
    }

    .classicText{
        text-align: center;
    }

    .textImg{
        text-align: center;
        margin: 0;
    }
}

footer {
    background-color: rgb(252, 158, 230);
    color: #000000;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    }

.column {
    flex-basis: 30%;
    text-align: center;
    align-items: center;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.copyright {
    margin-top: 20px;
    flex-basis: 100%;
    text-align: center; 
}

.editarEliminar{
    height: auto;
    width: 60px;
    margin-left: 88%;
    margin-bottom: -100px;
}

.editarEliminar > .editar {
    width: 100%;
    margin-bottom: 10px;
}

.editarEliminar > .editar > img{
    display: flex;
    height: 10%;
    width: 100%;
    
}

.editarEliminar > .eliminar > img{
    display: flex;
    height: 80%;
    width: 100%;
}

.buscar{
    float: right;
    height: auto;
    align-items: right;
    margin-top: 43px;
    margin-right: 0;
    display: flex; 
    align-items: center; 

}

.buscar > .btnbuscar > img{
    width: 70%;
}

#inputbuscar{
    width: 55%;
    height: auto;
    border-radius: 100px;
    padding-top: 0;
    margin-right: 5px;
}

.btnbuscar1{
    cursor: pointer;
    border: 1px solid  rgb(252, 158, 230);
    background-color: transparent;
    height: auto;
    width: 20%;
    color:  rgb(0, 0, 0);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    margin-top: -5px;
}

.btnbuscar1:hover{
    color:  rgb(0, 0, 0);
    border: 1px solid  rgb(252, 158, 230);
    background-color:  rgb(248, 235, 245);
}



